<div><input type="button" id="{{bttns[3].id}}" class="{'simplebtn': is(5)}" ng-show="is(5)" value="{{bttns[4].label}}" onclick="window.location.reload();" /></div>

<div class="menu" id="start">
	<input type="button" id="{{bttns[0].id}}" ng-click="section(2)" ng-class="{'simplebtn': is(1)}" ng-show="is(1)" value="{{bttns[0].label}}" />
	
	<input type="button" id="{{bttns[1].id}}" ng-click="section(3); playBall(1);" ng-class="{'simplebtn': is(2)}" ng-show="is(2)" value="{{bttns[1].label}}" />
	<br />
	<input type="button" id="{{bttns[2].id}}" ng-click="section(3); playBall(2);" ng-class="{'simplebtn': is(2)}" ng-show="is(2)" value="{{bttns[2].label}}" />
</div>

<div id="gameboard" ng-show="is(3) || is(4) ">
	<div class="row" id="{{'row' + ($index + 1)}}" ng-repeat="row in gamex">
		<div class="cell" id="{{'col' + ($index + 1)}}" ng-repeat="cell in row" ng-click="playCell($parent.$index, $index)">{{gamex[$parent.$index][$index]}}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div>
	<div style="display:none;">
	    <audio id="playagain" src="sounds/playagain.mp3" controls preload="auto" autobuffer></audio>
	</div>

	<input type="button" id="{{bttns[3].id}}" ng-click="resetGame()" ng-class="{'simplebtn': is(4)}" ng-show="is(4)" value="{{bttns[3].label}}">
</div>
